body {
    background-color: #121212;
    color: whitesmoke;
}
header {
    background-color: #1F1B24;
}

.taskComplete {
    background-color:  #66ff66	;
    text-shadow: 1px 1px black;
    border: solid black;
}

.taskIncomplete{
    background-color: #909090;
    border: solid black;
}
