body {
    background-color: #121212;
    color: whitesmoke;
}
header {
    background-color: #1F1B24;
}

.taskComplete {
    background-color: yellowgreen;
}

.taskIncomplete{
    background-color: tomato;
}